@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<h2>to jest privacy</h2>

<p>Use this page to detail your site's privacy policy.</p>


<button id="ukryjBtn" type="button" class="btn btn-primary">
    ukryj alert
</button>

<button id="pokaBtn" type="button" class="btn btn-danger">
    poka alert
</button>


<div id="mojAlert" class="alert alert-success">
    <strong>Success!</strong> This alert box could indicate a successful or positive action.
</div>
 <div id="app"></div>

@section Scripts {
<script>
    $(document).ready(function () {
        $("#ukryjBtn").click(function () {
            $("#mojAlert").hide();
        });
        $("#pokaBtn").click(function () {
            $("#mojAlert").show();
        });
    });
</script>

<script type="text/babel">
  
  class App extends React.Component {
    constructor() {
        super();
        this.state = {
            sumCount: 0,
            totalCount: 0,
        };
  }
    increment() {
    this.setState({
      sumCount: this.state.sumCount + 1,
      totalCount: this.state.totalCount + 1
    })
  }
  
  decrement() {
    this.setState({
      sumCount: this.state.sumCount - 1,
      totalCount: this.state.totalCount + 1
    })
  }
  
  render() {
    return (
      <div>
        <button onClick={this.increment.bind(this)}>+</button>
        <div>
          <output>Suma: {this.state.sumCount}</output>
          <output>Kliknięcia: {this.state.totalCount}</output>
        </div>
        <button onClick={this.decrement.bind(this)}>-</button>
      </div>
    );
  }
}
ReactDOM.render(<App />, document.getElementById("app"));
      </script>
}
